* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    // border: 1px solid red;
}

@mixin btn1 {
    font-family: 'Inter', sans-serif;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    background-color: transparent;
    padding: 8px 25px;
    text-decoration: none;
    transition: all .2s linear;

    &:hover {
        background-color: #ED2AB6;
        border: 2px solid #ED2AB6;
    }
}

@mixin btn2 {
    font-family: 'Inter', sans-serif;
    border: 2px solid #ED2AB6;
    border-radius: 40px;
    color: #fff;
    background-color: #ED2AB6;
    padding: 8px 25px;
    transition: all .2s linear;
    text-decoration: none;

    &:hover {
        background-color: transparent;
        border: 2px solid #fff;
    }
}

@mixin gbtn {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin: 15px 0;
    padding: 8px 25px;
    text-align: center;
    border: none;
    border-radius: 50px;
    transition: all 0.3s;
    background-image: linear-gradient(95deg, rgba(237, 42, 182, 1) 0%, rgba(71, 0, 149, 1) 100%);

}

.my-container {
    max-width: 1202px !important;
    margin: 0 auto;
}

// header section started
.scrolled {
    position: fixed;
    top: 0;
    box-shadow: 0px -9px 20px 6px #141414;
    background: linear-gradient(157deg, rgba(97, 0, 255, 1) 12%, rgba(126, 0, 186, 1) 50%, rgba(97, 0, 255, 1) 81%);
    transition: all .3s;
}

header {
    background-image: url(../img/BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // navigation section started
    nav {
        width: 100%;
        z-index: 999;
        transition: all .3s;

        .my-logo {
            width: 20%;
        }

        .my-link {
            font-weight: 600;
            color: #fff !important;
            transition: all .2s;
            padding: 0 12px !important;

            &:hover {
                color: #ED2AB6 !important;

                svg {
                    fill: #ED2AB6;
                }
            }
        }

        .my-navbar {
            flex-grow: 0;
            width: 48% !important;

            .mybtn {
                @include btn1;
            }

            .mybtn1 {
                margin-left: 15px;
                @include btn2;
            }
        }
    }

    // navigation section ended

    // hero section started
    .main {
        // height: 100vh;
        padding-top: 180px;
        padding-bottom: 50px;
        align-items: center;

        .content {
            width: 50%;
            color: #fff;

            h1 {
                letter-spacing: 0;
                line-height: 115.7%;
                font-weight: bolder;
                font-size: 45px;
            }

            p {
                line-height: 182%;
                letter-spacing: 0px;
                font-size: 16px
            }

            .mybtn1 {
                @include btn2;
                margin-top: 35px;
            }
        }

        .image {

            // width: 48%;
            img {
                width: 100%;
            }
        }
    }

    // hero section ended
}

// header section ended

// smart section started
.smart-sec {
    padding: 40px 0;
    align-items: center;

    .content {
        h4 {
            font-size: 21px;
            font-weight: 500;
            line-height: 115.7%;
            letter-spacing: 0px;
            color: #92009F;
        }

        h1 {
            font-size: 45px;
            font-weight: bolder;
            color: #141414;
            line-height: 115.7%;
            letter-spacing: 0px;
        }

        p {
            color: #575757;
            font-weight: 400;
            line-height: 182%;
            letter-spacing: 0px;
            font-size: 16px;
        }

        .my-gbtn {
            @include gbtn;
        }
    }

    .image {
        img {
            width: 100%;
        }
    }
}

// smart section started

// vehicle section started
.vehicle-sec {
    padding: 40px 0;
    align-items: center;

    .content {
        h4 {
            font-size: 21px;
            font-weight: 500;
            line-height: 115.7%;
            letter-spacing: 0px;
            color: #92009F;
        }

        h1 {
            font-size: 45px;
            font-weight: bolder;
            color: #141414;
            line-height: 115.7%;
            letter-spacing: 0px;
        }

        p {
            color: #575757;
            font-weight: 400;
            line-height: 182%;
            letter-spacing: 0px;
            font-size: 16px;
        }

        .my-gbtn {
            @include gbtn;
        }
    }

    .image {
        img {
            width: 100%;
        }
    }
}

// vehicle section ended

// luggage section started
.luggage-sec {
    padding: 40px 0;
    align-items: center;

    .image {
        img {

            width: 95%;
        }
    }

    .content {
        h4 {
            font-size: 21px;
            font-weight: 500;
            line-height: 115.7%;
            letter-spacing: 0px;
            color: #92009F;
        }

        h1 {
            font-size: 45px;
            font-weight: bolder;
            color: #141414;
            line-height: 115.7%;
            letter-spacing: 0px;
        }

        p {
            color: #575757;
            font-weight: 400;
            line-height: 182%;
            letter-spacing: 0px;
            font-size: 16px;
        }

        .my-gbtn {
            @include gbtn;
        }
    }
}

// luggage section ended

// pet section started
.pet-sec {
    padding: 40px 0;
    align-items: center;

    .content {
        h4 {
            font-size: 21px;
            font-weight: 500;
            line-height: 115.7%;
            letter-spacing: 0px;
            color: #92009F;
        }

        h1 {
            font-size: 45px;
            font-weight: bolder;
            color: #141414;
            line-height: 115.7%;
            letter-spacing: 0px;
        }

        p {
            color: #575757;
            font-weight: 400;
            line-height: 182%;
            letter-spacing: 0px;
            font-size: 16px;
        }

        .my-gbtn {
            @include gbtn;
        }
    }

    .image {
        img {
            width: 100%;
        }
    }
}

// pet section ended

// faq section started
.faq-sec {
    padding: 40px 0;

    h4 {
        text-align: center;
        font-size: 21px;
        font-weight: 500;
        line-height: 115.7%;
        letter-spacing: 0px;
        color: #92009F;
    }

    h1 {
        text-align: center;
        font-size: 45px;
        font-weight: bolder;
        color: #141414;
        line-height: 115.7%;
        letter-spacing: 0px;
    }

    p {
        color: #575757;
        font-weight: 400;
        line-height: 182%;
        letter-spacing: 0px;
        font-size: 16px;
    }

    .accordion {

        width: 70%;
        margin: 45px auto;

    }
}

// faq section ended

// app section started
.app {
    background: linear-gradient(157deg, rgba(97, 0, 255, 1) 0%, rgba(126, 0, 186, 1) 54%);

    .my-container {
        align-items: center;

        .content {
            h1 {
                color: #fff;
                padding-bottom: 15px;
                font-size: 40px;
                font-weight: bolder;
                line-height: 115.7%;
            }

            .link-sec {
                display: flex;
                justify-content: space-between;

                img {
                    width: 48%;

                    &:nth-child(1) {
                        margin-right: 15px;
                    }
                }
            }
        }

        img {
            width: 50%;
        }
    }
}

// app section ended
// testimonial section started
.testimonial {
    padding: 40px 0;
    text-align: center;

    h4 {
        font-size: 21px;
        font-weight: 500;
        line-height: 115.7%;
        letter-spacing: 0px;
        color: #92009F;
    }

    h1 {
        font-size: 45px;
        font-weight: bolder;
        color: #141414;
        line-height: 115.7%;
        letter-spacing: 0px;
    }

    p {
        color: #575757;
        font-weight: 400;
        line-height: 182%;
        letter-spacing: 0px;
        font-size: 16px;
    }

    .swiper {
        width: 100%;
        height: 100%;
        padding: 50px 0;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            .mycard {
                width: 80%;
                padding: 10px 18px;
                border-radius: 30px;
                background-color: #fff;
                box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
                transition: all .3s;

                h4 {
                    padding-top: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 0;
                    color: #141414;
                }

                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    }
}

// testimonial section ended


// footer section stared
footer {
    background-color: #F0EAF2;
    padding: 10px 0;

    .my-container {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        .social {
            width: 28%;
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: #371958;
            }
        }

        .flogo {
            width: 15%;
            margin-left: 80px;
            text-align: center;
        }

        p {
            color: #371958;
            width: 32%;
            margin-bottom: 0px !important;
        }
    }
}

// footer section ended



// media querry section stared
@media screen and (max-width:765px) {
    header {
        .main {
            .content {
                width: 80%;
                margin: 30px auto;
            }

            .image {
                width: 50%;
                margin: 0 auto;
            }
        }
    }

    .smart-sec {
        .image {
            width: 70%;
            margin: 30px auto;
        }
    }

    .faq-sec {
        .accordion {
            width: 80%;
        }
    }

    .app {
        .my-container {
            .content {
                padding-top: 20px;
            }

            img {
                width: 70%;
                margin: 0 auto;
                margin-top: 20px;
            }
        }
    }

    .testimonial {
        .my-wrapper {
            .mycard {
                width: 80%;
                margin: 20px auto;
            }
        }
    }

    footer {
        .my-container {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;

            .social {
                width: 80%;
            }

            .flogo {
                width: 80%;
                margin: 15px 0;
            }

            p {
                width: 80%;
            }
        }
    }
}

// media querry section ended




// login page started
.myscrolled {
    position: absolute;
    display: block;
    background: linear-gradient(157deg, rgba(97, 0, 255, 1) 12%, rgba(126, 0, 186, 1) 50%, rgba(97, 0, 255, 1) 81%);

}

.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .center {
        border-radius: 37px;
        box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
        ;
        padding: 62px;
        width: 50%;
        margin: 0 auto;
        text-align: center;

        h1 {
            line-height: 115%;
            font-size: 45px;
            font-weight: 900;
        }

        p {
            font-size: 16px;
            color: #575757;
            padding-bottom: 15px;
        }

        .inputbox {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 25px;
            padding: 0;

            input {
                width: 100%;
                background-color: #F5F2F6;
                border-radius: 10px;
                border: none;
                padding: 15px;
                color: #5C3967;

                &::placeholder {
                    color: #5C3967;
                    font-size: 15px;
                }

                &:focus-visible {
                    outline: none;
                }
            }

            img {
                position: absolute;
                padding-right: 15px;
                width: 33px;
            }
        }

        .fpass {
            margin-top: -15px;
            text-align: right;
            color: #ED2AB6;
            text-decoration: none;
        }

        .sign {
            color: #ED2AB6;
            text-decoration: none;
            font-weight: 500;
        }

        .mylbtn {
            @include btn2;
            margin: 15px 0;

            &:hover {
                border: 2px solid #ED2AB6;
                color: #ED2AB6;
            }
        }
    }
}

.myfooter {
    position: absolute !important;
    bottom: 0;
    width: 100%;
}


// login page ended


// sign up section started

.sscrolled {
    position: relative !important;
    background: linear-gradient(157deg, rgba(97, 0, 255, 1) 12%, rgba(126, 0, 186, 1) 50%, rgba(97, 0, 255, 1) 81%);

}

.smain {
    display: flex;
    margin: 50px auto;
    align-items: center;
    justify-content: center;

    .center {
        border-radius: 37px;
        box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
        padding: 62px;
        width: 50%;
        margin: 0 auto;
        text-align: center;

        h1 {
            line-height: 115%;
            font-size: 45px;
            font-weight: 900;
        }

        p {
            font-size: 16px;
            color: #575757;
            padding-bottom: 15px;
        }

        .inputbox {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 25px;
            padding: 0;

            input {
                width: 100%;
                background-color: #F5F2F6;
                border-radius: 10px;
                border: none;
                padding: 15px;
                color: #5C3967;

                &::placeholder {
                    color: #5C3967;
                    font-size: 15px;
                }

                &:focus-visible {
                    outline: none;
                }
            }

            img {
                position: absolute;
                padding-right: 15px;
                width: 33px;
            }
        }

        .fpass {
            margin-top: -15px;
            text-align: right;
            color: #ED2AB6;
            text-decoration: none;
        }

        .sign {
            color: #ED2AB6;
            text-decoration: none;
            font-weight: 500;
        }

        .mylbtn {
            @include btn2;
            margin: 15px 0;

            &:hover {
                border: 2px solid #ED2AB6;
                color: #ED2AB6;
            }
        }
    }
}

.myfooter {
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

// sign up section ended

// forgot password started

// dont need any styeling beacause all classes are styeled at first

// forgot password ended


// verify section started

.vmain {
    display: flex;
    height: 100vh;
    padding: 100px 0;
    align-items: center;
    justify-content: center;

    .center {
        border-radius: 37px;
        box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
        padding: 62px;
        width: 50%;
        margin: 0 auto;
        text-align: center;

        h1 {
            line-height: 115%;
            font-size: 45px;
            font-weight: 900;
        }

        p {
            font-size: 16px;
            color: #575757;
            padding-bottom: 15px;
        }

        .inputbox {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;

            input {
                margin: 0 5px;
                width: 100%;
                background-color: #F5F2F6;
                border-radius: 10px;
                border: none;
                padding: 15px;
                color: #5C3967;

                &::placeholder {
                    color: #5C3967;
                    font-size: 15px;
                }

                &:focus-visible {
                    outline: none;
                }

                &::-webkit-inner-spin-button,
                ::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
            }

            img {
                position: absolute;
                padding-right: 15px;
                width: 33px;
            }
        }

        .fpass {
            margin-top: -15px;
            text-align: right;
            color: #ED2AB6;
            text-decoration: none;
        }

        .sign {
            color: #ED2AB6;
            text-decoration: none;
            font-weight: 500;
        }

        .mylbtn {
            @include btn2;
            margin: 15px 0;

            &:hover {
                border: 2px solid #ED2AB6;
                color: #ED2AB6;
            }
        }
    }
}


// verify section ended


@media screen and (max-width:765px) {
    .main {
        height: auto;
        margin: 50px auto;

        .center {
            width: 90%;
            padding: 35px;
        }
    }

    .vmain {
        height: auto;
        margin: 50px auto;

        .center {
            width: 90%;
            padding: 35px;
        }
    }

    .smain {
        height: auto;

        .center {
            width: 90%;
            padding: 35px;
        }
    }
}




// ---------------------------------  Products Section started --------------------------------

.products-sec {
    h1 {
        font-size: 35px;
        line-height: 115.7%;
        font-weight: 900;
        color: #141414;
        padding: 10px 0;
    }

    .card-sec {
        width: 100%;
        margin: 10px 0;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;

        .mycard {
            margin: 10px 0;
            background-color: #fff;
            width: 22%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #E5DFEB;
            border-radius: 20px;
            padding: 15px;
            transition: all .2s;

            img {
                width: 100%;
            }

            h4 {
                font-size: 22px;
                font-weight: 700;
                text-align: center;
                padding: 15px 0;
                color: #141414;
            }

            p {
                font-size: 18px;
                color: #92009F;
            }

            .links {
                display: flex;
                width: 100%;
                justify-content: space-between;

                a {
                    color: #603571;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 16px;
                }

                hr {
                    border-right: 2px solid #E5DFEB;
                }
            }

            &:hover {
                box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
                border: 1px solid transparent;
            }


        }
    }
}


@media screen and (max-width:920px) {
    .products-sec {
        .card-sec {
            .mycard {
                width: 30%;
            }
        }
    }
}

@media screen and (max-width:690px) {
    .products-sec {
        .card-sec {
            .mycard {
                width: 45%;
            }
        }
    }
}

@media screen and (max-width:460px) {
    .products-sec {
        .card-sec {
            .mycard {
                width: 100%;
            }
        }
    }
}

// ---------------------------------  Products Section ended --------------------------------



// ===================== Products details section ==========================

.product-details {
    .details {
        margin: 30px 0;

        .dimage {

            height: 420px;
            display: flex;

            .first {
                align-items: center;
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    width: 80%;
                }
            }

            .second {
                width: 80%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .dtext {
            h1 {
                color: #141414;
                font-size: 35px;
                font-weight: 700;
            }

            .price {
                color: #92009F;
                font-size: 30px;
                font-weight: 600;
            }

            .count {
                border: .5px solid #394468;
                width: 100px;
                border-radius: 20px;
                padding: 2px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 30px 0;



                p {
                    display: inline;
                    color: #141414;
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }

            .mybtn1 {
                font-family: 'Inter', sans-serif;
                border: 2px solid transparent;
                border-radius: 40px;
                color: #ED2AB6;
                font-weight: bold;
                padding: 8px 25px;
                transition: all .2s linear;
                text-decoration: none;
                margin-right: 15px;
                background:
                    linear-gradient(#fff, #fff) padding-box,
                    linear-gradient(135deg, #ED2AB6, #470095) border-box;

            }

            .my-gbtn {
                @include gbtn;
            }

            .para {
                padding: 35px 0;

                p {
                    font-size: 16px;
                    line-height: 176.5%;
                    letter-spacing: 1px;
                    font-weight: 400;
                    text-align: justify;
                    color: #575757;
                }
            }

            h4 {
                font-size: 25px;
                font-weight: 600;
                color: #141414;
            }

            ul {
                li {
                    line-height: 225%;
                    letter-spacing: 1px;
                    color: #575757;
                }
            }

            p {
                font-size: 16px;
                line-height: 176.5%;
                letter-spacing: 1px;
                font-weight: 400;
                text-align: justify;
                color: #575757;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .product-details {
        .details {
            .dimage {
                .first {
                    img {
                        width: 50%;
                    }
                }
            }

            .dtext {
                margin-top: 50px;
            }
        }
    }
}

// ===================== Products details section ==========================


// =====================cart section started =============================

.cart-section {
    height: 90vh;

    h1 {
        font-size: 35px;
        line-height: 115.7%;
        font-weight: 900;
        color: #141414;
        padding: 10px 0;
    }

    .cart-item {
        .list {
            .item {
                margin: 20px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #E5DFEB;
                border-radius: 10px;
                padding: 15px;

                .content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 60%;

                    .image {
                        width: 45%;

                        img {
                            width: 80%;
                        }
                    }

                    .text {
                        width: 51%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h4 {
                            font-size: 28px;
                            font-weight: 600;
                            color: #141414;
                        }

                        p {
                            color: #92009F;
                            font-size: 22px;
                            font-weight: 600;
                        }

                        .count {
                            border: .5px solid #394468;
                            width: 100px;
                            border-radius: 20px;
                            padding: 2px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;



                            p {
                                display: inline;
                                color: #141414;
                                font-size: 16px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .svg {
                    width: 12%;
                    text-align: center;
                }
            }
        }

        .checkout-box {
            margin: 20px 0;

            .box {
                margin-bottom: 65px;
                border-radius: 13px;
                background-color: #F3ECF8;
                padding: 15px;

                .item-list {
                    .first {
                        margin: 15px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .image {
                            width: 20%;

                            img {
                                width: 100%;
                            }
                        }

                        .text {
                            width: 78%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .heading {
                                h6 {
                                    font-size: 16px;
                                    font-weight: 600;
                                }

                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #141414;
                                    margin: 0;
                                }
                            }

                            p {
                                font-size: 16px;
                                font-weight: 500;
                                color: #575757;
                            }
                        }
                    }
                }

                hr {
                    position: relative;
                    left: -15px;
                    width: 108%;
                    margin: 10px 0;
                    border-bottom: 2px solid #D7CAE0;
                }

                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-size: 16px;
                        font-weight: 500;
                        color: #575757;
                    }
                }

                .total {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-size: 18px;
                        font-weight: 600;
                        color: #141414;
                    }
                }
            }

            .btn-div {
                margin: 55px 0;

                .gbtn {
                    @include gbtn;
                    padding: 15px 100px;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .cart-section {
        height: auto;

        .cart-item {
            .list {
                .item {
                    .content {
                        width: 80%;

                        .image {
                            img {
                                width: 100%;
                            }
                        }

                        .text {
                            h4 {
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// =====================cart section ended ===============================

// ===================== checkout section ================================


.address-sec {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;

    .first {
        width: 49%;

        .inputbox {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 25px;
            padding: 0;

            input {
                width: 100%;
                background-color: #F5F2F6;
                border-radius: 10px;
                border: none;
                padding: 15px;
                color: #5C3967;

                &::placeholder {
                    color: #5C3967;
                    font-size: 15px;
                }

                &:focus-visible {
                    outline: none;
                }
            }

            img {
                position: absolute;
                padding-right: 15px;
                width: 33px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .address-sec {
        flex-direction: column;

        .first {
            width: 100%;
        }
    }
}

// ===================== checkout section ================================


// ============================ Account Section ===========================
.account-section {
    height: 85vh;

    h1 {
        font-size: 30px;
        font-weight: 700;
        padding: 15px 0;
    }

    .asection {
        .account {
            margin: 20px 0;

            ul {
                background-color: #fff;
                border-radius: 20px;
                box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
                padding: 15px 0;

                li {
                    list-style: none;
                    margin: 0;
                    padding: 15px;
                    transition: all .3s;

                    a {
                        color: #575757;
                        font-weight: 500;
                        padding: 10px;
                        text-decoration: none;
                        transition: all .3s;
                        font-size: 16px;

                        &:active {
                            color: #6F0A9D;
                        }
                    }

                    &:hover {
                        background-color: #F3ECF8;

                        a {
                            color: #6F0A9D;
                        }

                        &:active {
                            background-color: #F3ECF8;

                            a {
                                color: #6F0A9D;
                            }
                        }
                    }
                }
            }
        }

        .profile {
            margin-left: 20px;

            h4 {
                font-size: 23px;
                font-weight: 700;
                color: #141414;
            }

            .info {
                width: 45%;

                .first {
                    margin: 15px 0;
                    display: flex;
                    justify-content: space-between;

                    p {
                        color: #575757;
                        font-weight: 400;
                    }

                    h6 {
                        color: #141414;
                        font-size: 17px;
                        font-weight: 600;
                        width: 60%;
                    }
                }

                .btn-div {
                    margin: 30px 0;

                    .gbtn {
                        @include gbtn;
                        padding: 15px 100px;
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:993px) {
    .account-section {
        .asection {
            .profile {
                margin-left: 0;

                .info {
                    margin-top: 15px;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:770px) {
    .account-section {
        height: 100vh;

        .asection {
            .profile {
                .info {
                    .btn-div {
                        .gbtn {
                            padding: 15px 50px;
                        }
                    }
                }
            }
        }
    }
}

// ============================ Account Section ===========================


// ============================ Order Section =============================

.order-section {
    min-height: 90vh;

    h1 {
        font-size: 30px;
        font-weight: 700;
        padding: 15px 0;
    }

    .asection {
        .account {
            margin: 20px 0;

            ul {
                background-color: #fff;
                border-radius: 20px;
                box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
                padding: 15px 0;

                li {
                    list-style: none;
                    margin: 0;
                    padding: 15px;
                    transition: all .3s;

                    a {
                        color: #575757;
                        font-weight: 500;
                        padding: 10px;
                        text-decoration: none;
                        transition: all .3s;
                        font-size: 16px;

                        &:active {
                            color: #6F0A9D;
                        }
                    }

                    &:hover {
                        background-color: #F3ECF8;

                        a {
                            color: #6F0A9D;
                        }

                        &:active {
                            background-color: #F3ECF8;

                            a {
                                color: #6F0A9D;
                            }
                        }
                    }
                }
            }
        }

        .profile {
            h4 {
                font-size: 23px;
                font-weight: 700;
                color: #141414;
            }

            .my-tab {
                .item {
                    margin: 20px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #E5DFEB;
                    border-radius: 10px;
                    padding: 15px;

                    .content {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        .image {
                            width: 20%;

                            img {
                                width: 100%;
                            }
                        }

                        .text {
                            margin-left: 28px;
                            width: 65%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .order-info {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;

                                p {
                                    margin: 0;
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: #575757;
                                }

                                .Processing {
                                    color: #F67803;
                                }
                            }

                            h4 {
                                font-size: 28px;
                                font-weight: 600;
                                color: #141414;
                            }

                            p {
                                color: #92009F;
                                font-size: 22px;
                                font-weight: 600;
                            }

                            .count {
                                border: .5px solid #394468;
                                width: 100px;
                                border-radius: 20px;
                                padding: 2px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;



                                p {
                                    display: inline;
                                    color: #141414;
                                    font-size: 16px;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

            }

            .my-tab2 {
                .item {
                    margin: 20px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #E5DFEB;
                    border-radius: 10px;
                    padding: 15px;

                    .content {
                        display: flex;
                        // justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        .image {
                            width: 20%;

                            img {
                                width: 100%;
                            }
                        }

                        .text {
                            margin-left: 28px;
                            width: 65%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .order-info {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;

                                p {
                                    margin: 0;
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: #575757;
                                }

                                .Processing {
                                    color: #06B24B;
                                }
                            }

                            h4 {
                                font-size: 28px;
                                font-weight: 600;
                                color: #141414;
                            }

                            p {
                                color: #92009F;
                                font-size: 22px;
                                font-weight: 600;
                            }

                            .count {
                                border: .5px solid #394468;
                                width: 100px;
                                border-radius: 20px;
                                padding: 2px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;



                                p {
                                    display: inline;
                                    color: #141414;
                                    font-size: 16px;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

// ============================ Order Section =============================


// ============================ Family Member section =========================


.family-section {
    min-height: 90vh;

    h1 {
        font-size: 30px;
        font-weight: 700;
        padding: 15px 0;
    }

    .asection {
        .account {
            margin: 20px 0;

            ul {
                background-color: #fff;
                border-radius: 20px;
                box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
                padding: 15px 0;

                li {
                    list-style: none;
                    margin: 0;
                    padding: 15px;
                    transition: all .3s;

                    a {
                        color: #575757;
                        font-weight: 500;
                        padding: 10px;
                        text-decoration: none;
                        transition: all .3s;
                        font-size: 16px;

                        &:active {
                            color: #6F0A9D;
                        }
                    }

                    &:hover {
                        background-color: #F3ECF8;

                        a {
                            color: #6F0A9D;
                        }

                        &:active {
                            background-color: #F3ECF8;

                            a {
                                color: #6F0A9D;
                            }
                        }
                    }
                }
            }
        }

        .profile {
            h4 {
                font-size: 23px;
                font-weight: 700;
                color: #141414;
            }

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                background-color: #F3ECF8;
                margin: 10px 0;

                .content {
                    display: flex;
                    align-items: center;
                    width: 80%;

                    .image {
                        width: 10%;

                        img {
                            width: 100%;
                        }
                    }

                    .text {
                        padding-left: 15px;
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h4 {
                            font-size: 18px;
                            font-weight: 600;
                            color: #141414;
                        }
                        p{
                            color: #7E00BA;
                            margin: 0;
                            margin-right: 15px;
                            span{
                                font-weight: 600;
                            }
                        }

                        .para {
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }
                }

                .svg {
                    width: 12%;
                    text-align: center;
                }
            }
            .btn-div {
                margin: 55px 0;

                .gbtn {
                    @include gbtn;
                    padding: 15px 100px;
                    display: block;
                    width: 100%;
                }
            }

        }
    }
}

// ============================ Family Member section =========================



// ============================ add Member section =========================
.add-section {
    min-height: 90vh;

    h1 {
        font-size: 30px;
        font-weight: 700;
        padding: 15px 0;
    }

    .asection {
        .account {
            margin: 20px 0;

            ul {
                background-color: #fff;
                border-radius: 20px;
                box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
                padding: 15px 0;

                li {
                    list-style: none;
                    margin: 0;
                    padding: 15px;
                    transition: all .3s;

                    a {
                        color: #575757;
                        font-weight: 500;
                        padding: 10px;
                        text-decoration: none;
                        transition: all .3s;
                        font-size: 16px;

                        &:active {
                            color: #6F0A9D;
                        }
                    }

                    &:hover {
                        background-color: #F3ECF8;

                        a {
                            color: #6F0A9D;
                        }

                        &:active {
                            background-color: #F3ECF8;

                            a {
                                color: #6F0A9D;
                            }
                        }
                    }
                }
            }
        }

        .profile {
            padding-left: 15px;
            h4 {
                font-size: 23px;
                font-weight: 700;
                color: #141414;
            }

            .inputbox {
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 25px;
                padding: 0;
    
                input {
                    width: 100%;
                    background-color: #F5F2F6;
                    border-radius: 10px;
                    border: none;
                    padding: 15px;
                    color: #5C3967;
    
                    &::placeholder {
                        color: #5C3967;
                        font-size: 15px;
                    }
    
                    &:focus-visible {
                        outline: none;
                    }
                }
    
                img {
                    position: absolute;
                    padding-right: 15px;
                    width: 33px;
                }
            }
            .btn-div {
                margin: 55px 0;

                .mybtn {
                    @include btn2;
                    padding: 15px 100px;
                    display: block;
                    width: 100%;
                    text-align: center;
                    &:hover{
                        color: #ED2AB6;
                        border: 2px solid #ED2AB6;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 430px) {
    .add-section{
        .asection{
            .profile{
                .btn-div{
                    .mybtn{
                        padding: 15px 15px;
                    }
                }
            }
        }
    }
}
// ============================ add Member section =========================