* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.my-container {
  max-width: 1202px !important;
  margin: 0 auto;
}

.scrolled {
  position: fixed;
  top: 0;
  box-shadow: 0px -9px 20px 6px #141414;
  background: linear-gradient(157deg, rgb(97, 0, 255) 12%, rgb(126, 0, 186) 50%, rgb(97, 0, 255) 81%);
}

header {
  background-image: url(../img/BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header nav {
  width: 100%;
  z-index: 999;
}
header nav .my-logo {
  width: 20%;
}
header nav .my-link {
  font-weight: 600;
  color: #fff !important;
  transition: all 0.2s;
  padding: 0 12px !important;
}
header nav .my-link:hover {
  color: #ED2AB6 !important;
}
header nav .my-link:hover svg {
  fill: #ED2AB6;
}
header nav .my-navbar {
  flex-grow: 0;
  width: 48% !important;
}
header nav .my-navbar .mybtn {
  font-family: "Inter", sans-serif;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  background-color: transparent;
  padding: 8px 25px;
  text-decoration: none;
  transition: all 0.2s linear;
}
header nav .my-navbar .mybtn:hover {
  background-color: #ED2AB6;
  border: 2px solid #ED2AB6;
}
header nav .my-navbar .mybtn1 {
  margin-left: 15px;
  font-family: "Inter", sans-serif;
  border: 2px solid #ED2AB6;
  border-radius: 40px;
  color: #fff;
  background-color: #ED2AB6;
  padding: 8px 25px;
  transition: all 0.2s linear;
  text-decoration: none;
}
header nav .my-navbar .mybtn1:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
header .main {
  padding-top: 180px;
  padding-bottom: 50px;
  align-items: center;
}
header .main .content {
  width: 50%;
  color: #fff;
}
header .main .content h1 {
  letter-spacing: 0;
  line-height: 115.7%;
  font-weight: bolder;
  font-size: 45px;
}
header .main .content p {
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
header .main .content .mybtn1 {
  font-family: "Inter", sans-serif;
  border: 2px solid #ED2AB6;
  border-radius: 40px;
  color: #fff;
  background-color: #ED2AB6;
  padding: 8px 25px;
  transition: all 0.2s linear;
  text-decoration: none;
  margin-top: 35px;
}
header .main .content .mybtn1:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
header .main .image img {
  width: 100%;
}

.smart-sec {
  padding: 40px 0;
  align-items: center;
}
.smart-sec .content h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.smart-sec .content h1 {
  font-size: 45px;
  font-weight: bolder;
  color: #141414;
  line-height: 115.7%;
  letter-spacing: 0px;
}
.smart-sec .content p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.smart-sec .content .my-gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 8px 25px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
}
.smart-sec .image img {
  width: 100%;
}

.vehicle-sec {
  padding: 40px 0;
  align-items: center;
}
.vehicle-sec .content h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.vehicle-sec .content h1 {
  font-size: 45px;
  font-weight: bolder;
  color: #141414;
  line-height: 115.7%;
  letter-spacing: 0px;
}
.vehicle-sec .content p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.vehicle-sec .content .my-gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 8px 25px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
}
.vehicle-sec .image img {
  width: 100%;
}

.luggage-sec {
  padding: 40px 0;
  align-items: center;
}
.luggage-sec .image img {
  width: 95%;
}
.luggage-sec .content h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.luggage-sec .content h1 {
  font-size: 45px;
  font-weight: bolder;
  color: #141414;
  line-height: 115.7%;
  letter-spacing: 0px;
}
.luggage-sec .content p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.luggage-sec .content .my-gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 8px 25px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
}

.pet-sec {
  padding: 40px 0;
  align-items: center;
}
.pet-sec .content h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.pet-sec .content h1 {
  font-size: 45px;
  font-weight: bolder;
  color: #141414;
  line-height: 115.7%;
  letter-spacing: 0px;
}
.pet-sec .content p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.pet-sec .content .my-gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 8px 25px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
}
.pet-sec .image img {
  width: 100%;
}

.faq-sec {
  padding: 40px 0;
}
.faq-sec h4 {
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.faq-sec h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  color: #141414;
  line-height: 115.7%;
  letter-spacing: 0px;
}
.faq-sec p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.faq-sec .accordion {
  width: 70%;
  margin: 45px auto;
}

.app {
  background: linear-gradient(157deg, rgb(97, 0, 255) 0%, rgb(126, 0, 186) 54%);
}
.app .my-container {
  align-items: center;
}
.app .my-container .content h1 {
  color: #fff;
  padding-bottom: 15px;
  font-size: 40px;
  font-weight: bolder;
  line-height: 115.7%;
}
.app .my-container .content .link-sec {
  display: flex;
  justify-content: space-between;
}
.app .my-container .content .link-sec img {
  width: 48%;
}
.app .my-container .content .link-sec img:nth-child(1) {
  margin-right: 15px;
}
.app .my-container img {
  width: 50%;
}

.testimonial {
  padding: 40px 0;
  text-align: center;
}
.testimonial h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.testimonial h1 {
  font-size: 45px;
  font-weight: bolder;
  color: #141414;
  line-height: 115.7%;
  letter-spacing: 0px;
}
.testimonial p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.testimonial .swiper {
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
.testimonial .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial .swiper .swiper-slide .mycard {
  width: 80%;
  padding: 10px 18px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 2px rgba(243, 210, 255, 0.5215686275);
  transition: all 0.3s;
}
.testimonial .swiper .swiper-slide .mycard h4 {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  color: #141414;
}
.testimonial .swiper .swiper-slide .mycard:hover {
  transform: scale(1.15);
}

footer {
  background-color: #F0EAF2;
  padding: 10px 0;
}
footer .my-container {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
footer .my-container .social {
  width: 28%;
  display: flex;
  justify-content: space-between;
}
footer .my-container .social a {
  text-decoration: none;
  color: #371958;
}
footer .my-container .flogo {
  width: 15%;
  margin-left: 80px;
  text-align: center;
}
footer .my-container p {
  color: #371958;
  width: 32%;
  margin-bottom: 0px !important;
}

@media screen and (max-width: 765px) {
  header .main .content {
    width: 80%;
    margin: 30px auto;
  }
  header .main .image {
    width: 50%;
    margin: 0 auto;
  }
  .smart-sec .image {
    width: 70%;
    margin: 30px auto;
  }
  .faq-sec .accordion {
    width: 80%;
  }
  .app .my-container .content {
    padding-top: 20px;
  }
  .app .my-container img {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .testimonial .my-wrapper .mycard {
    width: 80%;
    margin: 20px auto;
  }
  footer .my-container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  footer .my-container .social {
    width: 80%;
  }
  footer .my-container .flogo {
    width: 80%;
    margin: 15px 0;
  }
  footer .my-container p {
    width: 80%;
  }
}
.myscrolled {
  position: absolute;
  display: block;
  background: linear-gradient(157deg, rgb(97, 0, 255) 12%, rgb(126, 0, 186) 50%, rgb(97, 0, 255) 81%);
}

.main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.main .center {
  border-radius: 37px;
  box-shadow: 0px 0px 10px 2px rgba(71, 0, 149, 0.16);
  padding: 62px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.main .center h1 {
  line-height: 115%;
  font-size: 45px;
  font-weight: 900;
}
.main .center p {
  font-size: 16px;
  color: #575757;
  padding-bottom: 15px;
}
.main .center .inputbox {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding: 0;
}
.main .center .inputbox input {
  width: 100%;
  background-color: #F5F2F6;
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: #5C3967;
}
.main .center .inputbox input::-moz-placeholder {
  color: #5C3967;
  font-size: 15px;
}
.main .center .inputbox input::placeholder {
  color: #5C3967;
  font-size: 15px;
}
.main .center .inputbox input:focus-visible {
  outline: none;
}
.main .center .inputbox img {
  position: absolute;
  padding-right: 15px;
  width: 33px;
}
.main .center .fpass {
  margin-top: -15px;
  text-align: right;
  color: #ED2AB6;
  text-decoration: none;
}
.main .center .sign {
  color: #ED2AB6;
  text-decoration: none;
  font-weight: 500;
}
.main .center .mylbtn {
  font-family: "Inter", sans-serif;
  border: 2px solid #ED2AB6;
  border-radius: 40px;
  color: #fff;
  background-color: #ED2AB6;
  padding: 8px 25px;
  transition: all 0.2s linear;
  text-decoration: none;
  margin: 15px 0;
}
.main .center .mylbtn:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
.main .center .mylbtn:hover {
  border: 2px solid #ED2AB6;
  color: #ED2AB6;
}

.myfooter {
  position: absolute !important;
  bottom: 0;
  width: 100%;
}

.sscrolled {
  position: relative !important;
  background: linear-gradient(157deg, rgb(97, 0, 255) 12%, rgb(126, 0, 186) 50%, rgb(97, 0, 255) 81%);
}

.smain {
  display: flex;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
}
.smain .center {
  border-radius: 37px;
  box-shadow: 0px 0px 10px 2px rgba(71, 0, 149, 0.16);
  padding: 62px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.smain .center h1 {
  line-height: 115%;
  font-size: 45px;
  font-weight: 900;
}
.smain .center p {
  font-size: 16px;
  color: #575757;
  padding-bottom: 15px;
}
.smain .center .inputbox {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding: 0;
}
.smain .center .inputbox input {
  width: 100%;
  background-color: #F5F2F6;
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: #5C3967;
}
.smain .center .inputbox input::-moz-placeholder {
  color: #5C3967;
  font-size: 15px;
}
.smain .center .inputbox input::placeholder {
  color: #5C3967;
  font-size: 15px;
}
.smain .center .inputbox input:focus-visible {
  outline: none;
}
.smain .center .inputbox img {
  position: absolute;
  padding-right: 15px;
  width: 33px;
}
.smain .center .fpass {
  margin-top: -15px;
  text-align: right;
  color: #ED2AB6;
  text-decoration: none;
}
.smain .center .sign {
  color: #ED2AB6;
  text-decoration: none;
  font-weight: 500;
}
.smain .center .mylbtn {
  font-family: "Inter", sans-serif;
  border: 2px solid #ED2AB6;
  border-radius: 40px;
  color: #fff;
  background-color: #ED2AB6;
  padding: 8px 25px;
  transition: all 0.2s linear;
  text-decoration: none;
  margin: 15px 0;
}
.smain .center .mylbtn:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
.smain .center .mylbtn:hover {
  border: 2px solid #ED2AB6;
  color: #ED2AB6;
}

.myfooter {
  position: absolute !important;
  bottom: 0;
  width: 100%;
}

.vmain {
  display: flex;
  height: 100vh;
  padding: 100px 0;
  align-items: center;
  justify-content: center;
}
.vmain .center {
  border-radius: 37px;
  box-shadow: 0px 0px 10px 2px rgba(71, 0, 149, 0.16);
  padding: 62px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.vmain .center h1 {
  line-height: 115%;
  font-size: 45px;
  font-weight: 900;
}
.vmain .center p {
  font-size: 16px;
  color: #575757;
  padding-bottom: 15px;
}
.vmain .center .inputbox {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
.vmain .center .inputbox input {
  margin: 0 5px;
  width: 100%;
  background-color: #F5F2F6;
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: #5C3967;
}
.vmain .center .inputbox input::-moz-placeholder {
  color: #5C3967;
  font-size: 15px;
}
.vmain .center .inputbox input::placeholder {
  color: #5C3967;
  font-size: 15px;
}
.vmain .center .inputbox input:focus-visible {
  outline: none;
}
.vmain .center .inputbox input::-webkit-inner-spin-button,
.vmain .center .inputbox input ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.vmain .center .inputbox img {
  position: absolute;
  padding-right: 15px;
  width: 33px;
}
.vmain .center .fpass {
  margin-top: -15px;
  text-align: right;
  color: #ED2AB6;
  text-decoration: none;
}
.vmain .center .sign {
  color: #ED2AB6;
  text-decoration: none;
  font-weight: 500;
}
.vmain .center .mylbtn {
  font-family: "Inter", sans-serif;
  border: 2px solid #ED2AB6;
  border-radius: 40px;
  color: #fff;
  background-color: #ED2AB6;
  padding: 8px 25px;
  transition: all 0.2s linear;
  text-decoration: none;
  margin: 15px 0;
}
.vmain .center .mylbtn:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
.vmain .center .mylbtn:hover {
  border: 2px solid #ED2AB6;
  color: #ED2AB6;
}

@media screen and (max-width: 765px) {
  .main {
    height: auto;
    margin: 50px auto;
  }
  .main .center {
    width: 90%;
    padding: 35px;
  }
  .vmain {
    height: auto;
    margin: 50px auto;
  }
  .vmain .center {
    width: 90%;
    padding: 35px;
  }
  .smain {
    height: auto;
  }
  .smain .center {
    width: 90%;
    padding: 35px;
  }
}/*# sourceMappingURL=style.css.map */