* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.myheader {
  width: 100%;
  height: 100vh;
}

.big-heading {
  color: #141414;
  letter-spacing: 0;
  line-height: 115.7%;
  font-weight: bolder;
  font-size: 45px;
}

@media screen and (max-width: 768px) {
  .big-heading {
    font-size: 25px;
  }
}
.my-container {
  max-width: 1202px !important;
  margin: 0 auto;
}

.content {
  padding: 30px 15px;
}

.bottom {
  padding-bottom: 25px;
}

.scrolled {
  position: fixed;
  top: 0;
  box-shadow: 0px -9px 20px 6px #141414;
  background: linear-gradient(157deg, rgb(97, 0, 255) 12%, rgb(126, 0, 186) 50%, rgb(97, 0, 255) 81%);
  transition: all 0.3s;
}

header .bgvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
header nav {
  width: 100%;
  z-index: 999;
  transition: all 0.3s;
  padding: 0 !important;
}
header nav .my-logo {
  width: 20%;
}
header nav .my-link {
  font-weight: 600;
  color: #fff !important;
  transition: all 0.2s;
  padding: 13px 0;
}
header nav .my-link:hover {
  color: #ED2AB6 !important;
}
header nav .my-link:hover svg {
  fill: #ED2AB6;
}
header nav .my-navbar {
  flex-grow: 0;
}
header nav .my-navbar .mybtn {
  font-family: "Inter", sans-serif;
  box-shadow: inset 0px 0px 0px 1px #fff;
  border-radius: 40px;
  color: #fff;
  background-color: transparent;
  padding: 10px 28px;
  text-decoration: none;
  transition: all 0.2s linear;
  margin-right: 15px;
}
header nav .my-navbar .mybtn:hover {
  background-color: #ED2AB6;
  box-shadow: inset 0px 0px 0px 1px #ED2AB6;
}
header nav .my-navbar .mybtn1 {
  margin-left: 15px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
}
header nav .dropdown {
  position: relative;
  transition: all 0.3s;
}
header nav .dropdown:hover {
  transition: all 0.3s;
}
header nav .dropdown:hover .dropdown-content {
  display: block;
}
header nav .dropdown .dropdown-content {
  width: 100%;
  display: none;
  top: 52px;
  position: absolute;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.2705882353);
}
header nav .dropdown .dropdown-content ul {
  margin-left: 8px;
}
header nav .dropdown .dropdown-content ul li {
  list-style: none;
  padding: 8px;
}
header nav .dropdown .dropdown-content ul li a {
  text-decoration: none;
  color: #575757;
}
header .main {
  height: 100vh;
  padding-bottom: 50px;
  align-items: center;
}
header .main .content {
  width: 50%;
  color: #fff;
}
header .main .content h1 {
  color: #fff;
}
header .main .content p {
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
  padding-bottom: 45px;
}
header .main .content .mybtn1 {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
  margin-top: 35px;
}
header .main .image img {
  width: 100%;
}

@media (min-aspect-ratio: 16/9) {
  header .bgvideo {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  header .bgvideo {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 990px) {
  header nav .my-navbar {
    text-align: center;
  }
  header nav .my-navbar .anav {
    height: 100vh;
  }
  header nav .my-navbar .anav .dropdown .dropdown-content {
    top: 50px;
    height: 132px;
  }
  header nav .my-navbar ul {
    margin-top: 25px;
    height: 23vh;
  }
  header nav .my-navbar ul li {
    padding: 0;
  }
  header nav .my-navbar .mybtn {
    display: block;
    margin: 0;
  }
  header nav .my-navbar .mybtn1 {
    display: block;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 350px;
  }
  header nav .my-t-nav {
    text-align: center;
    background: linear-gradient(157deg, rgb(97, 0, 255) 12%, rgb(126, 0, 186) 50%, rgb(97, 0, 255) 81%);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100% !important;
    z-index: -1;
    padding-top: 5rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.smart-sec {
  padding: 40px 0;
  align-items: center;
}
.smart-sec .content {
  padding-bottom: 20px;
}
.smart-sec .content h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.smart-sec .content p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.smart-sec .content .my-gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
}
.smart-sec .image img {
  width: 100%;
}

@media screen and (max-width: 769px) {
  .smart-sec {
    padding-top: 40px;
    padding-bottom: 0;
  }
}
.vehicle-sec {
  padding: 40px 0;
  align-items: center;
}
.vehicle-sec .content h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.vehicle-sec .content p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.vehicle-sec .content .my-gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
}
.vehicle-sec .image img {
  width: 100%;
}

@media screen and (max-width: 769px) {
  .vehicle-sec {
    padding-top: 40px;
    padding-bottom: 0;
  }
  .vehicle-sec img {
    padding: 20px 0;
  }
}
.luggage-sec {
  padding: 40px 0;
  align-items: center;
}
.luggage-sec .image img {
  width: 95%;
}
.luggage-sec .content h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.luggage-sec .content p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.luggage-sec .content .my-gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
}

@media screen and (max-width: 769px) {
  .luggage-sec {
    padding-top: 40px;
    padding-bottom: 0;
  }
  .luggage-sec img {
    padding: 20px 0;
  }
}
.pet-sec {
  padding: 40px 0;
  align-items: center;
}
.pet-sec .content h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.pet-sec .content p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.pet-sec .content .my-gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
}
.pet-sec .image img {
  width: 100%;
}

@media screen and (max-width: 769px) {
  .pet-sec {
    padding-top: 40px;
    padding-bottom: 0;
  }
  .pet-sec img {
    padding: 20px 0;
  }
}
.faq-sec {
  padding: 40px 0;
}
.faq-sec h4 {
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.faq-sec h1 {
  text-align: center;
}
.faq-sec p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.faq-sec .accordion {
  width: 70%;
  margin: 45px auto;
}

@media screen and (max-width: 769px) {
  .faq-sec {
    padding-top: 40px;
    padding-bottom: 0;
  }
}
.app {
  background: linear-gradient(157deg, rgb(97, 0, 255) 0%, rgb(126, 0, 186) 54%);
}
.app .my-container {
  align-items: center;
}
.app .my-container .content h1 {
  color: #fff;
}
.app .my-container .content .link-sec {
  display: flex;
  justify-content: flex-start;
}
.app .my-container .content .link-sec img {
  width: 30%;
}
.app .my-container .content .link-sec img:nth-child(1) {
  margin-right: 15px;
}
.app .my-container img {
  width: 50%;
}

.testimonial {
  padding: 40px 0;
  text-align: center;
}
.testimonial h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 115.7%;
  letter-spacing: 0px;
  color: #92009F;
}
.testimonial p {
  color: #575757;
  font-weight: 400;
  line-height: 182%;
  letter-spacing: 0px;
  font-size: 16px;
}
.testimonial .swiper {
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
.testimonial .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial .swiper .swiper-slide .mycard {
  width: 80%;
  padding: 10px 18px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
  transition: all 0.3s;
}
.testimonial .swiper .swiper-slide .mycard h4 {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  color: #141414;
}
.testimonial .swiper .swiper-slide .mycard:hover {
  transform: scale(1.15);
}

footer {
  background-color: #F0EAF2;
  padding: 10px 0;
}
footer .my-container {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
footer .my-container .social {
  width: 28%;
  display: flex;
  justify-content: space-between;
}
footer .my-container .social a {
  text-decoration: none;
  color: #371958;
}
footer .my-container .flogo {
  width: 15%;
  margin-left: 80px;
  text-align: center;
}
footer .my-container p {
  color: #371958;
  width: 32%;
  margin-bottom: 0px !important;
}

@media screen and (max-width: 768px) {
  header .main {
    height: auto;
  }
  header .main .content {
    width: 80%;
    margin: 30px auto;
  }
  header .main .image {
    width: 50%;
    margin: 0 auto;
  }
  .smart-sec .image {
    width: 70%;
    margin: 30px auto;
  }
  .faq-sec .accordion {
    width: 80%;
  }
  .app .my-container .content {
    padding-top: 20px;
  }
  .app .my-container img {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .testimonial .my-wrapper .mycard {
    width: 80%;
    margin: 20px auto;
  }
  footer .my-container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  footer .my-container .social {
    width: 80%;
  }
  footer .my-container .flogo {
    width: 80%;
    margin: 15px 0;
  }
  footer .my-container p {
    width: 80%;
  }
}
.myscrolled {
  position: absolute;
  display: block;
  background: linear-gradient(157deg, rgb(97, 0, 255) 12%, rgb(126, 0, 186) 50%, rgb(97, 0, 255) 81%);
}

.main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.main .center {
  border-radius: 37px;
  box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
  padding: 62px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.main .center p {
  font-size: 16px;
  color: #575757;
  padding-bottom: 15px;
}
.main .center .inputbox {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding: 0;
}
.main .center .inputbox input {
  width: 100%;
  background-color: #F5F2F6;
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: #5C3967;
}
.main .center .inputbox input::-moz-placeholder {
  color: #5C3967;
  font-size: 15px;
}
.main .center .inputbox input::placeholder {
  color: #5C3967;
  font-size: 15px;
}
.main .center .inputbox input:focus-visible {
  outline: none;
}
.main .center .inputbox img {
  position: absolute;
  padding-right: 15px;
  width: 33px;
}
.main .center .fpass {
  margin-top: -15px;
  text-align: right;
  color: #ED2AB6;
  text-decoration: none;
}
.main .center .sign {
  color: #ED2AB6;
  text-decoration: none;
  font-weight: 500;
}
.main .center .mylbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
  margin: 15px 0;
}

.myfooter {
  position: absolute !important;
  bottom: 0;
  width: 100%;
}

.sscrolled {
  position: relative !important;
  background: linear-gradient(157deg, rgb(97, 0, 255) 12%, rgb(126, 0, 186) 50%, rgb(97, 0, 255) 81%);
}

.smain {
  display: flex;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
}
.smain .center {
  border-radius: 37px;
  box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
  padding: 62px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.smain .center p {
  font-size: 16px;
  color: #575757;
  padding-bottom: 15px;
}
.smain .center .inputbox {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding: 0;
}
.smain .center .inputbox input {
  width: 100%;
  background-color: #F5F2F6;
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: #5C3967;
}
.smain .center .inputbox input::-moz-placeholder {
  color: #5C3967;
  font-size: 15px;
}
.smain .center .inputbox input::placeholder {
  color: #5C3967;
  font-size: 15px;
}
.smain .center .inputbox input:focus-visible {
  outline: none;
}
.smain .center .inputbox img {
  position: absolute;
  padding-right: 15px;
  width: 33px;
}
.smain .center .fpass {
  margin-top: -15px;
  text-align: right;
  color: #ED2AB6;
  text-decoration: none;
}
.smain .center .sign {
  color: #ED2AB6;
  text-decoration: none;
  font-weight: 500;
}
.smain .center .mylbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
  margin: 15px 0;
}

.myfooter {
  position: absolute !important;
  bottom: 0;
  width: 100%;
}

.vmain {
  display: flex;
  height: 100vh;
  padding: 100px 0;
  align-items: center;
  justify-content: center;
}
.vmain .center {
  border-radius: 37px;
  box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
  padding: 62px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.vmain .center p {
  font-size: 16px;
  color: #575757;
  padding-bottom: 15px;
}
.vmain .center .inputbox {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.vmain .center .inputbox input {
  margin: 0 5px;
  width: 100%;
  background-color: #F5F2F6;
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: #5C3967;
  -moz-appearance: textfield;
}
.vmain .center .inputbox input::-moz-placeholder {
  color: #5C3967;
  font-size: 15px;
}
.vmain .center .inputbox input::placeholder {
  color: #5C3967;
  font-size: 15px;
}
.vmain .center .inputbox input:focus-visible {
  outline: none;
}
.vmain .center .inputbox img {
  position: absolute;
  padding-right: 15px;
  width: 33px;
}
.vmain .center .fpass {
  margin-top: -15px;
  text-align: right;
  color: #ED2AB6;
  text-decoration: none;
}
.vmain .center .sign {
  color: #ED2AB6;
  text-decoration: none;
  font-weight: 500;
}
.vmain .center .mylbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
  margin: 15px 0;
}

@media screen and (max-width: 765px) {
  .main .center {
    width: 90%;
    padding: 35px;
  }
  .vmain {
    height: auto;
    margin: 50px auto;
  }
  .vmain .center {
    width: 90%;
    padding: 35px;
  }
  .smain {
    height: auto;
  }
  .smain .center {
    width: 90%;
    padding: 35px;
  }
}
.products-sec .card-sec {
  width: 100%;
  margin: 10px 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.products-sec .card-sec .mycard {
  margin: 10px 0;
  background-color: #fff;
  width: 23.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E5DFEB;
  border-radius: 20px;
  padding: 15px;
  transition: all 0.2s;
}
.products-sec .card-sec .mycard img {
  width: 100%;
}
.products-sec .card-sec .mycard h4 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
  color: #141414;
}
.products-sec .card-sec .mycard p {
  font-size: 18px;
  color: #92009F;
}
.products-sec .card-sec .mycard .links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.products-sec .card-sec .mycard .links a {
  color: #603571;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.products-sec .card-sec .mycard .links hr {
  border-right: 2px solid #E5DFEB;
}
.products-sec .card-sec .mycard:hover {
  box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
  border: 1px solid transparent;
}

@media screen and (max-width: 920px) {
  .products-sec .card-sec .mycard {
    width: 30%;
  }
}
@media screen and (max-width: 690px) {
  .products-sec .card-sec .mycard {
    width: 45%;
  }
}
@media screen and (max-width: 460px) {
  .products-sec .card-sec .mycard {
    width: 100%;
  }
}
.product-details .details {
  margin: 30px 0;
}
.product-details .details .dimage .swiper {
  width: 100%;
  height: 100%;
}
.product-details .details .dimage .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-details .details .dimage .swiper-slide img {
  display: block;
  width: 100%;
}
.product-details .details .dimage .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.product-details .details .dimage .swiper-slide {
  background-size: cover;
  background-position: center;
}
.product-details .details .dimage .mySwiper2 {
  height: 80%;
  width: 100%;
}
.product-details .details .dimage .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.product-details .details .dimage .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.product-details .details .dimage .swiper-slide img {
  display: block;
  width: 100%;
}
.product-details .details .dtext h1 {
  color: #141414;
  font-size: 35px;
  font-weight: 700;
}
.product-details .details .dtext .price {
  color: #92009F;
  font-size: 30px;
  font-weight: 600;
}
.product-details .details .dtext .count {
  border: 0.5px solid #394468;
  width: 100px;
  border-radius: 20px;
  padding: 1px 2px 1px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.product-details .details .dtext .count p {
  display: inline;
  color: #141414;
  font-size: 16px;
  margin-bottom: 0;
}
.product-details .details .dtext .mybtn1 {
  font-family: "Inter", sans-serif;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #ED2AB6;
  font-weight: bold;
  padding: 9px 25px;
  transition: all 0.2s linear;
  text-decoration: none;
  margin-right: 15px;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(135deg, #ED2AB6, #470095) border-box;
}
.product-details .details .dtext .my-gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
}
.product-details .details .dtext .para {
  padding: 35px 0;
}
.product-details .details .dtext .para p {
  font-size: 16px;
  line-height: 176.5%;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: justify;
  color: #575757;
}
.product-details .details .dtext h4 {
  font-size: 25px;
  font-weight: 600;
  color: #141414;
}
.product-details .details .dtext ul li {
  line-height: 225%;
  letter-spacing: 1px;
  color: #575757;
}
.product-details .details .dtext p {
  font-size: 16px;
  line-height: 176.5%;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: justify;
  color: #575757;
}

@media screen and (max-width: 992px) {
  .product-details .details .dtext {
    margin-top: 50px;
  }
}
.cart-section {
  height: 120vh;
}
.cart-section h1 {
  font-size: 35px;
  line-height: 115.7%;
  font-weight: 900;
  color: #141414;
  padding: 10px 0;
}
.cart-section .cart-item .list .item {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E5DFEB;
  border-radius: 10px;
  padding: 5px;
}
.cart-section .cart-item .list .item .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0;
}
.cart-section .cart-item .list .item .content .image {
  width: 45%;
}
.cart-section .cart-item .list .item .content .image img {
  width: 80%;
}
.cart-section .cart-item .list .item .content .text {
  width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-section .cart-item .list .item .content .text h4 {
  font-size: 28px;
  font-weight: 600;
  color: #141414;
}
.cart-section .cart-item .list .item .content .text p {
  color: #92009F;
  font-size: 22px;
  font-weight: 600;
}
.cart-section .cart-item .list .item .content .text .count {
  border: 0.5px solid #394468;
  width: 100px;
  border-radius: 20px;
  padding: 1px 2px 1px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-section .cart-item .list .item .content .text .count p {
  display: inline;
  color: #141414;
  font-size: 16px;
  margin-bottom: 0;
}
.cart-section .cart-item .list .item .svg {
  width: 12%;
  text-align: center;
}
.cart-section .cart-item .checkout-box {
  margin: 20px 0;
}
.cart-section .cart-item .checkout-box .box {
  margin-bottom: 65px;
  border-radius: 13px;
  background-color: #F3ECF8;
  padding: 15px;
}
.cart-section .cart-item .checkout-box .box .item-list .first {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-section .cart-item .checkout-box .box .item-list .first .image {
  width: 20%;
}
.cart-section .cart-item .checkout-box .box .item-list .first .image img {
  width: 100%;
}
.cart-section .cart-item .checkout-box .box .item-list .first .text {
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-section .cart-item .checkout-box .box .item-list .first .text .heading h6 {
  font-size: 16px;
  font-weight: 600;
}
.cart-section .cart-item .checkout-box .box .item-list .first .text .heading p {
  font-size: 14px;
  font-weight: 400;
  color: #141414;
  margin: 0;
}
.cart-section .cart-item .checkout-box .box .item-list .first .text p {
  font-size: 16px;
  font-weight: 500;
  color: #575757;
}
.cart-section .cart-item .checkout-box .box hr {
  position: relative;
  left: -15px;
  width: 108%;
  margin: 10px 0;
  border-bottom: 2px solid #D7CAE0;
}
.cart-section .cart-item .checkout-box .box .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-section .cart-item .checkout-box .box .text p {
  font-size: 16px;
  font-weight: 500;
  color: #575757;
}
.cart-section .cart-item .checkout-box .box .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-section .cart-item .checkout-box .box .total p {
  font-size: 18px;
  font-weight: 600;
  color: #141414;
}
.cart-section .cart-item .checkout-box .btn-div {
  margin: 55px 0;
}
.cart-section .cart-item .checkout-box .btn-div .gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
  padding: 15px 100px;
  display: block;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .cart-section {
    height: auto;
  }
  .cart-section .cart-item .list .item .content {
    width: 80%;
  }
  .cart-section .cart-item .list .item .content .image img {
    width: 100%;
  }
  .cart-section .cart-item .list .item .content .text h4 {
    font-size: 25px;
  }
}
.address-sec {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.address-sec .first {
  width: 49%;
}
.address-sec .first .inputbox {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding: 0;
}
.address-sec .first .inputbox input {
  width: 100%;
  background-color: #F5F2F6;
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: #5C3967;
}
.address-sec .first .inputbox input::-moz-placeholder {
  color: #5C3967;
  font-size: 15px;
}
.address-sec .first .inputbox input::placeholder {
  color: #5C3967;
  font-size: 15px;
}
.address-sec .first .inputbox input:focus-visible {
  outline: none;
}
.address-sec .first .inputbox img {
  position: absolute;
  padding-right: 15px;
  width: 33px;
}

@media screen and (max-width: 400px) {
  .address-sec {
    flex-direction: column;
  }
  .address-sec .first {
    width: 100%;
  }
}
.account-section {
  height: 85vh;
}
.account-section h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
}
.account-section .asection .account {
  margin: 20px 0;
}
.account-section .asection .account ul {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
  padding: 15px 0;
}
.account-section .asection .account ul li {
  list-style: none;
  margin: 0;
  padding: 15px;
  transition: all 0.3s;
}
.account-section .asection .account ul li a {
  color: #575757;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 16px;
}
.account-section .asection .account ul li a:active {
  color: #6F0A9D;
}
.account-section .asection .account ul li:hover {
  background-color: #F3ECF8;
}
.account-section .asection .account ul li:hover a {
  color: #6F0A9D;
}
.account-section .asection .account ul li:hover:active {
  background-color: #F3ECF8;
}
.account-section .asection .account ul li:hover:active a {
  color: #6F0A9D;
}
.account-section .asection .profile {
  margin-left: 20px;
}
.account-section .asection .profile h4 {
  font-size: 23px;
  font-weight: 700;
  color: #141414;
}
.account-section .asection .profile .info {
  width: 45%;
}
.account-section .asection .profile .info .first {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.account-section .asection .profile .info .first p {
  color: #575757;
  font-weight: 400;
}
.account-section .asection .profile .info .first h6 {
  color: #141414;
  font-size: 17px;
  font-weight: 600;
  width: 60%;
}
.account-section .asection .profile .info .btn-div {
  margin: 30px 0;
}
.account-section .asection .profile .info .btn-div .gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
  padding: 15px 100px;
  display: block;
  width: 100%;
}

@media screen and (max-width: 993px) {
  .account-section .asection .profile {
    margin-left: 0;
  }
  .account-section .asection .profile .info {
    margin-top: 15px;
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  .account-section {
    height: auto;
    margin: 30px 0;
  }
  .account-section .asection .profile .info .btn-div .gbtn {
    padding: 15px 50px;
  }
}
.order-section {
  min-height: 100vh;
}
.order-section h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
}
.order-section .asection .account {
  margin: 20px 0;
}
.order-section .asection .account ul {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
  padding: 15px 0;
}
.order-section .asection .account ul li {
  list-style: none;
  margin: 0;
  padding: 15px;
  transition: all 0.3s;
}
.order-section .asection .account ul li a {
  color: #575757;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 16px;
}
.order-section .asection .account ul li a:active {
  color: #6F0A9D;
}
.order-section .asection .account ul li:hover {
  background-color: #F3ECF8;
}
.order-section .asection .account ul li:hover a {
  color: #6F0A9D;
}
.order-section .asection .account ul li:hover:active {
  background-color: #F3ECF8;
}
.order-section .asection .account ul li:hover:active a {
  color: #6F0A9D;
}
.order-section .asection .profile h4 {
  font-size: 23px;
  font-weight: 700;
  color: #141414;
}
.order-section .asection .profile .my-tab .item {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E5DFEB;
  border-radius: 10px;
  padding: 5px;
}
.order-section .asection .profile .my-tab .item .content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}
.order-section .asection .profile .my-tab .item .content .image {
  width: 20%;
}
.order-section .asection .profile .my-tab .item .content .image img {
  width: 100%;
}
.order-section .asection .profile .my-tab .item .content .text {
  margin-left: 28px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.order-section .asection .profile .my-tab .item .content .text .order-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order-section .asection .profile .my-tab .item .content .text .order-info p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #575757;
}
.order-section .asection .profile .my-tab .item .content .text .order-info .Processing {
  color: #F67803;
}
.order-section .asection .profile .my-tab .item .content .text h4 {
  font-size: 28px;
  font-weight: 600;
  color: #141414;
}
.order-section .asection .profile .my-tab .item .content .text p {
  color: #92009F;
  font-size: 22px;
  font-weight: 600;
}
.order-section .asection .profile .my-tab .item .content .text .count {
  border: 0.5px solid #394468;
  width: 100px;
  border-radius: 20px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-section .asection .profile .my-tab .item .content .text .count p {
  display: inline;
  color: #141414;
  font-size: 16px;
  margin-bottom: 0;
}
.order-section .asection .profile .my-tab2 .item {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E5DFEB;
  border-radius: 10px;
  padding: 5px;
}
.order-section .asection .profile .my-tab2 .item .content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}
.order-section .asection .profile .my-tab2 .item .content .image {
  width: 20%;
}
.order-section .asection .profile .my-tab2 .item .content .image img {
  width: 100%;
}
.order-section .asection .profile .my-tab2 .item .content .text {
  margin-left: 28px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.order-section .asection .profile .my-tab2 .item .content .text .order-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order-section .asection .profile .my-tab2 .item .content .text .order-info p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #575757;
}
.order-section .asection .profile .my-tab2 .item .content .text .order-info .Processing {
  color: #06B24B;
}
.order-section .asection .profile .my-tab2 .item .content .text h4 {
  font-size: 28px;
  font-weight: 600;
  color: #141414;
}
.order-section .asection .profile .my-tab2 .item .content .text p {
  color: #92009F;
  font-size: 22px;
  font-weight: 600;
}
.order-section .asection .profile .my-tab2 .item .content .text .count {
  border: 0.5px solid #394468;
  width: 100px;
  border-radius: 20px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-section .asection .profile .my-tab2 .item .content .text .count p {
  display: inline;
  color: #141414;
  font-size: 16px;
  margin-bottom: 0;
}

.family-section {
  min-height: 100vh;
}
.family-section h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
}
.family-section .asection .account {
  margin: 20px 0;
}
.family-section .asection .account ul {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
  padding: 15px 0;
}
.family-section .asection .account ul li {
  list-style: none;
  margin: 0;
  padding: 15px;
  transition: all 0.3s;
}
.family-section .asection .account ul li a {
  color: #575757;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 16px;
}
.family-section .asection .account ul li a:active {
  color: #6F0A9D;
}
.family-section .asection .account ul li:hover {
  background-color: #F3ECF8;
}
.family-section .asection .account ul li:hover a {
  color: #6F0A9D;
}
.family-section .asection .account ul li:hover:active {
  background-color: #F3ECF8;
}
.family-section .asection .account ul li:hover:active a {
  color: #6F0A9D;
}
.family-section .asection .profile h4 {
  font-size: 23px;
  font-weight: 700;
  color: #141414;
}
.family-section .asection .profile .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #F3ECF8;
  margin: 10px 0;
}
.family-section .asection .profile .item .content {
  display: flex;
  align-items: center;
  width: 80%;
}
.family-section .asection .profile .item .content .image {
  width: 10%;
}
.family-section .asection .profile .item .content .image img {
  width: 100%;
}
.family-section .asection .profile .item .content .text {
  padding-left: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.family-section .asection .profile .item .content .text h4 {
  font-size: 18px;
  font-weight: 600;
  color: #141414;
}
.family-section .asection .profile .item .content .text p {
  color: #7E00BA;
  margin: 0;
  margin-right: 15px;
}
.family-section .asection .profile .item .content .text p span {
  font-weight: 600;
}
.family-section .asection .profile .item .content .text .para {
  display: flex;
  flex-wrap: wrap;
}
.family-section .asection .profile .item .svg {
  width: 12%;
  text-align: center;
}
.family-section .asection .profile .btn-div {
  margin: 55px 0;
}
.family-section .asection .profile .btn-div .gbtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
  padding: 15px 100px;
  display: block;
  width: 100%;
}

.add-section {
  min-height: 100vh;
}
.add-section h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
}
.add-section .asection .account {
  margin: 20px 0;
}
.add-section .asection .account ul {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 21px rgba(72, 0, 149, 0.16);
  padding: 15px 0;
}
.add-section .asection .account ul li {
  list-style: none;
  margin: 0;
  padding: 15px;
  transition: all 0.3s;
}
.add-section .asection .account ul li a {
  color: #575757;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 16px;
}
.add-section .asection .account ul li a:active {
  color: #6F0A9D;
}
.add-section .asection .account ul li:hover {
  background-color: #F3ECF8;
}
.add-section .asection .account ul li:hover a {
  color: #6F0A9D;
}
.add-section .asection .account ul li:hover:active {
  background-color: #F3ECF8;
}
.add-section .asection .account ul li:hover:active a {
  color: #6F0A9D;
}
.add-section .asection .profile {
  padding-left: 15px;
}
.add-section .asection .profile h4 {
  font-size: 23px;
  font-weight: 700;
  color: #141414;
}
.add-section .asection .profile .inputbox {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding: 0;
}
.add-section .asection .profile .inputbox input {
  width: 100%;
  background-color: #F5F2F6;
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: #5C3967;
}
.add-section .asection .profile .inputbox input::-moz-placeholder {
  color: #5C3967;
  font-size: 15px;
}
.add-section .asection .profile .inputbox input::placeholder {
  color: #5C3967;
  font-size: 15px;
}
.add-section .asection .profile .inputbox input:focus-visible {
  outline: none;
}
.add-section .asection .profile .inputbox img {
  position: absolute;
  padding-right: 15px;
  width: 33px;
}
.add-section .asection .profile .btn-div {
  margin: 25px 0;
}
.add-section .asection .profile .btn-div .mybtn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  padding: 10px 28px;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-image: linear-gradient(95deg, rgb(237, 42, 182) 0%, rgb(71, 0, 149) 100%);
  padding: 15px 100px;
  display: block;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 430px) {
  .add-section .asection .profile .btn-div .mybtn {
    padding: 15px 15px;
  }
}/*# sourceMappingURL=style.css.map */